<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
	<% include ../head.html %>
</head>
<body>
	<div id="head">
		<% include ../top_bar.html %>
		<script type="text/javascript">$('#index').addClass('active');</script>
	</div>
	<div id="wrap">
		<div id="main">
			<div id="content">
				<div class="panel">
				    <div id="innner">
						<div>
							<ul class="breadcrumb">
							    <li><a href="#">首页</a> <span class="divider">/</span></li>
							    <li class="active">吐槽内容</li>
						    </ul>
						</div>
						<div class="topic-main">
						<% if(topic){ %>
							<div style="padding: 10px 0;">
								<div style=""><h2><%=topic.title%></h2></div>
								<hr>
								<div><%=topic.content%></div>
								<hr>
								<div>
									<div>
										标签: <span class="label label-important"><%=topic.tag%></span>
									</div>
									<div>
										<%=topic.author_id%> 在 <%=dateformat(topic.create_time, 'mm-dd HH:MM')%> 吐槽  <%=topic.author_id%> 在 <%=dateformat(topic.update_time, 'mm-dd HH:MM')%> 编辑
									</div>
									<div>
										<button type="button" class="btn btn-success">收藏一下</button>
									</div>
								</div>
							</div>
						<% }else{ %>
							<div>当前吐槽已经不纯在了!</div>
						<% } %>
						</div>
				    </div>
				</div>
				<div class="panel">
					<div class="header">0 吐槽</div>
					<div class="inner" style="border-bottom: 1px solid #E5E5E5;">
						sadfasf
						<hr>
						asdf
					</div>
					<div class="inner" style="border-bottom: 1px solid #E5E5E5;">
						dsfgsdfg
					</div>
				</div>
				<div class="panel">
					<div class="header">吐槽几句</div>
					<div class="inner">
						<form action="/topic/releaseTopic" method="post" id="form1" class="form-horizontal">
							<div>
								<div>
									<span class="badge badge-info" id="edit_mark" style="cursor: pointer;">Markdown</span>
									<span class="badge" id="edit_pre" style="cursor: pointer;">Preview</span>
								</div>
								<textarea rows="5" name="content" placeholder="卧槽。。。" class="content-txtarea" id="edit_box"></textarea>
								<div id="preview_box" class="preview-box" style="display:none;"></div>
							</div>
							<div>
								<button type="button" id="save_btn" class="btn btn-success">发布</button>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div id="sidebar">
				<% include ../user/user_info.html %>
				<div class="panel">
					<div class="header">热门吐槽</div>
					<div class="inner">
						ddd
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="foot">
	
	</div>
	<script type="text/javascript" src="<%=site_host%>/markdown.js"></script>
	<script type="text/javascript">
		/* $('#edit_pre').bind('click', function(){
			var preview_content = markdown.toHTML($('#edit_box').val());
			$('#edit_pre').addClass('badge-info');
			$('#edit_mark').removeClass('badge-info');
			
			$('#preview_box').html(preview_content);
			$('#edit_box').css('display', 'none');
			$('#preview_box').css('display', 'block');
		});
		$('#edit_mark').bind('click', function(){
			$('#edit_mark').addClass('badge-info');
			$('#edit_pre').removeClass('badge-info');
			
			$('#edit_box').css('display', 'block');
			$('#preview_box').css('display', 'none');
		});
		$('#new_t_btn').bind('click', function(){
			window.location.href = '/topic/newTopic';
		});
		$('#save_btn').bind('click', function(){
			$('#form1').submit();
		}); */
	</script>
</body>
	
</html>