<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
<% include ../head.html %>
<style type="text/css">
</style>
</head>
<body>
	<div id="head">
		<% include ../top_bar.html %>
		<script type="text/javascript">$('#setting').addClass('active');</script>
	</div>
	<div id="main">
		<div id="content">
			<div class="panel">
				<div id="innner">
					<div>
						<ul class="breadcrumb">
						    <li><a href="#">首页</a> <span class="divider">/</span></li>
						    <li class="active">设置</li>
					    </ul>
					</div>
					<div style="padding: 40px;">
						<form action="/doSetting" method="post" class="form-horizontal" id="form1">
							<div class="control-group">
								<label class="control-label" style="width:60px;" for="name">屌名</label>
								<div class="controls" style="margin-left:80px;">
									<input type="text" id="name" name="name" value="<%=user.name%>" />
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" style="width:60px;" for="email">Email</label>
								<div class="controls" style="margin-left:80px;">
									<input type="text" id="email" name="email" placeholder="123@123.com" value="<%=user.email%>"/>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" style="width:60px;" for="headUrl">头像URL</label>
								<div class="controls" style="margin-left:80px;">
									<input type="text" id="headUrl" name="headUrl" placeholder="headUrl" value="<%=user.head_url%>"/>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" style="width:60px;" for="sign">自我吐槽</label>
								<div class="controls" style="margin-left:80px;">
									<textarea id="sign" name="sign" placeholder="吐槽" ><%=user.sign%></textarea>
								</div>
							</div>
							<div class="control-group">
								<div class="controls" style="margin-left:80px;">
									<button type="button" id="save_btn" class="btn btn-primary">保存</button>
								</div>
							</div>
						</form>
					</div>    
					
				</div>
			</div>
		</div>
		
		<div id="sidebar">
				<% include user_info.html %>
				<div class="panel">
					<div class="header">热门吐槽</div>
					<div class="inner">
						ddd
					</div>
				</div>
			</div>
	</div>
</body>
	<script type="text/javascript" src="jquery-1.7.min.js"></script>
	<script type="text/javascript" src="bootstrap.js"></script>
    <script type="text/javascript">
    	$('#save_btn').bind('click', function(){
    		$('#form1').submit();
    	});
    </script>
</html>